.container {
    display: flex;
    justify-content: center; 
}

.linkler {
    text-align: center; 
}

.linkler a {
    display: block;
    margin-top: 80px; 
    text-decoration: none; 
    color:white; 
    font-size: 35px; 
}

.linkler a:hover {
    color:#6ca6cd; 
}
h2{
    text-align: center;
    color:white;
}
body{
    background-image:url(denizanası.JPG);
}
