*{
    box-sizing: border-box;
}

body{
    margin:0%;
}
#menu{
    height:65px;
    padding:0 20px;
    position: fixed;
    z-index:20;
    
}
#logo{
   
    display:flex;
    object-fit:fill;
    position:fixed;
    padding-top: 0%;
    float:left;  
}
#logo img{
     width:120px;
    height:120px;
}
#anasayfa{
    height:750px;
    background-image:url(famous.JPG);
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}
#black{
    height:600px;
    
    
}

#Hakkımda{  
    padding:50px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}
h3{
    font-size: 55px;
    color:#6ca6cd;
    text-shadow: 2px 2px 3px black;
    font: weight 600px; 
}
#container{
    width: 1200px;
    height: 450px;
    margin:auto;
}
#sol{
    float:left;
    border-right:3px solid #6ca6cd;
    font-size: 30px;
    width:400px;
    color:#6ca6cd;
    text-shadow:1px 1px 1px black;
    text-transform:none;
}
#h5sol{
    line-height:1.6;
    font-size:22px;
    font-weight:600;
}
#h5sol,#sag{
    margin: 0;
    padding: 0;
    margin-top:20px;
}
span{
 font-size:50px;
 margin-right:0px;
 line-height:42px;
 font-weight:600;
 color:003666;
 float: left;
}
#sag{
    float: right;
    width:750px;
    color:#b22222;
    letter-spacing:1px;
    font-size:15px;
    line-height:1.8;
    text-transform:none ;
   font-family:"Times New Roman", Times, serif  ;
    
}
#psag{
    margin-right:2px;
    text-align:left;
}
#psag2{
    text-align: left;
}
#psag3{
    text-align: left;
}
#psag4{
    text-align: left;
}

.Fotograf{
    width:1519px;
    height:2000px;
    background-color:white;
}
#foto{
 color:white;
 text-align: center;
 background-color: #6ca6cd;
 border:thick double white;

}
.fotograflar{
    width:90%;
    display:grid;
    justify-content: center;
    left:5%;
    grid-template-columns: repeat(auto-fit,300px);
    gap:10px;
    position:absolute;
    z-index: 10;
}
.fotograflar img{
    height:300px;
    width:300px;
    object-fit: cover;
    border-style: outset;
    border:thick double #6ca6cd;

}
#star{
    margin-left:5px;
    color:#6ca6cd;
    border:thick double #6ca6cd;
    
}
#iletişim{
    background:url(iletisim.JPG);
    background-size: cover;
    padding:50px;
    height:auto;
    text-align: center;
    
}
#iletisim{
    color:white;
}
#iletisimopak{
    background:rgba(255,255,255,0.2) ;
    padding:30px 20px;
    border-radius:5px;
    margin-bottom:50px;
    height:550px;

}
#formgroup{
    width:700px;
    float:left;
    height:500px;
    text-align: left;
}
#solform{
    width:50%;
    float:left;
}
#sagform{
    width:50%;
    float: right;
    padding-left: 5px;
}
.form-control{
    width:100%;
    padding:10px;
    font-size:15px;
    line-height:1.5px;
    color:#495057;
    background-color: white;
    margin:10px;
    border-radius:5px;
    border:1px solid #ced4ce;
}
input[type="submit"]{
    cursor:pointer;
    background: color #445c44;
    font-size:18px;
    letter-spacing:1px;
    padding:10px 30px;
    border:2px solid white;
    border-radius:5px;
    margin-left:10px;
    margin-top:10px;

}
#adres{
    width:450px;
    float:right;
    padding:30px;
    height:500px;
    text-align:center;

}
#adresbaslik{
    font-size:30px;
    color:white;

}
.adresp{
    color:#ddd;
    font-size:15px;
    letter-spacing:1.5px;

}
#copyright{
    color:white;
    font-size:20px;
    letter-spacing:2px;
}

ul{
    width:auto;
    height: auto;
    
}
ul li{
    list-style-type: none;
    display: inline;
    padding:0 20px;
    float:right;
    
}
ul li :hover{
    color:white;
    transition:width 0.5ms;
    background-color:#6ca6cd;

 }
 ul li a{
    text-decoration: none;
    align-items: center;
    color:#faebd7;
     background-color: #b22222;
 }
 nav{
    overflow: hidden;
    position: fixed; 
    z-index:20;
    width: 100%;
    
 }

